:root {
}

html {
  text-align: center;
  font-family: sans-serif;
}
body {
  background: url(../Aleatory-Number-JS-Game/img/frame.png);
  width: 50%;
  max-width: auto;
  min-width: auto;
  margin: 0 auto;
}
.a {
  margin-left: 140%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
}
.lastResult {
  color: white;
  padding: 3px;
}

.envioPalpite {
  cursor: pointer;
  border: 30%;
}

.ultimoResultado {
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}
.img {
  width: 40px;
  height: auto;
  margin-right: -50px;
}

.img1 {
  width: 40px;
  height: auto;
  margin-right: -50px;
}

.ss {
  white-space: nowrap;

  margin: auto;
}

h1 {
  margin-top: auto;
}
